<!-- /static_pages/home.html.erb -->

<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Blogger Me App</h1>

  <h2>
    This is the home page for the
    <a href="https://blogger-me.herokuapp.com/">Blogger Me</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", new_author_path, class: "btn btn-lg btn-primary" %>
</div>
<ul id="articles">
    <% @articles.reverse.each do |article| %>
        <li>
            <%= link_to article.title, article_path(article), class: 'article_title', id: "article_#{article.id}" %>
                (<%= article.comments.count %> comments)<br/>
            
            <p style="font-style: italic; color: black;font-size: 15px">
                on <%= article.created_at.strftime("%B %d, %Y") %><br/>
                <p>
                    <%= article.body %>
                </p>
            </p>
        </li>
    <% end %>
</ul>

<!--< if logged_in? %>-->
<!--    < link_to "New Article", new_article_path, class: "new_article"%>-->
<!--    < link_to "Logout", logout_path, class: "auth" %>-->
<!--< else %>-->
<!--    < link_to "Login", login_path, class: "auth" %>-->
<!--< end %>-->

<!--< link_to image_tag("rails.png", alt: "Rails logo"),-->
<!--            'http://rubyonrails.org/' %>-->

