<h1><%= @article.title%></h1><br>
<p>
    <p><%= link_to "Tags:", tags_path %>
    <% @article.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
    <% end %></p>
</p><br>
<p><%= @article.body%></p><br>
<%= render partial: 'comments/form' %>
<%= link_to "<button>Back to Articles</button>".html_safe, articles_path%>
<%= link_to "<button>Delete</button>".html_safe, article_path(@article), method: :delete, 
            data: {:confirm => "Really delete the article?"} %>
<%= link_to "<button>edit</button>".html_safe, edit_article_path(@article) %><br><br><br>

<h3>Comments (<%= @count %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>


        