<h1><%= @article.title%></h1>

<!--Listing all the Tags here-->
<p>
    <%= link_to "Tags:", tags_path %>
    <% @article.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
    <% end %>
</p><br>

<!--Article image here-->
<% if @article.image.exists? %>
    <p><%= image_tag @article.image.url(:medium) %></p>
<% end %>

<!--Article body here-->
<p style="flow;"><%= @article.body %></p><br />
<%= link_to "Back to Articles", articles_path, class: "btn btn-info"%>
<% if logged_in? %>
    <%= link_to "Delete", article_path(@article), method: :delete,
                data: {:confirm => "Really delete the article?"}, class: "btn btn-warning" %>
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %>
<% end %>

<!--Form to write a comment here-->
<%= render partial: 'comments/form' %>

<p>
    <%= @article.impressionist_count(:filter=>:ip_address) %> people(s) visited this article.
</p><br />

<!-- Show comments-->
<h3>Comments (<%= @article.comments.count %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments.reverse %>

<p>

  <a style="float: right" href="/articles/#{@article.id}">
    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
  </a>
</p><br/><br/>
