<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <p class="flash"><%= flash.notice %></p><br/>

      <div class="links">
        <%= link_to "Articles", articles_path %> |
        <%= link_to "Photos", photos_path %> |
        <%= link_to "Events", events_path %> |
        <%= link_to "Messages", messages_path %>
      </div>
          <%= yield %>
      
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
